[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
pywinauto = "*"
"bs4" = "*"
requests = "*"
dill = "*"
click = "*"
six = "*"
flask = "*"
pillow = "*"
pytesseract = "*"
pandas = "*"
pyperclip = "*"
rqopen-client = ">=0.0.5"
easyutils = "*"

[dev-packages]
pytest-cov = "*"
pre-commit = "*"
pytest = "*"
pylint = "*"
mypy = "*"
isort = "*"
black = "==18.6b4"
ipython = "*"
better-exceptions = "*"

[requires]
python_version = "3.6"

[scripts]
sort_imports = "bash -c 'isort \"$@\"; git add -u' --"
format = "bash -c 'black -l 79 \"$@\"; git add -u' --"
lint = "pylint"
type_check = "mypy"
test = "bash -c 'pytest -vx --cov=easytrader tests'"
lock = "bash -c 'pipenv lock -r > requirements.txt'"
